@import './fonts.css';
@import './color.css';

#app {
  width: 100%;
  /* margin: 0 auto; */
}

a {
  text-decoration: underline;
  color: inherit;
  transition: 0.4s;
  padding: 3px;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(0, 0%, 79%, 0.2);
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  /* transition: 200ms ease; */
}

*::selection {
  color: #d1d1d1; /* 浅灰色文字 */
  background-color: #2d3748; /* 暗灰蓝色背景 */
}

.unselectable {
  user-select: none;
}

/* html {
  width: 100%;
} */

body {
  /* min-height: 100vh; */
  width: 100%;
  line-height: 1.6;
  font-family:
    /* 'SourceHanSansCN', */
    Inter,
    -apple-system,
    BlinkMacSystemFont,
    Roboto,
    'Segoe UI',
    Oxygen,
    Ubuntu,
    Cantarell,
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
}

html,
body {
  /* overflow: scroll; */
  scroll-behavior: smooth;
}

img {
  display: block;
}

.border {
  border: 1px solid #f0f0f0;
}

.r4 {
  border-radius: 4px;
}
.r2 {
  border-radius: 2px;
}
.r0 {
  border-radius: 0;
}
.r8 {
  border-radius: 8px;
}
.r16 {
  border-radius: 16px;
}
.r20 {
  border-radius: 20px;
}
.r24 {
  border-radius: 24px;
}
.r32 {
  border-radius: 32px;
}
.r40 {
  border-radius: 40px;
}
.r48 {
  border-radius: 48px;
}
.r56 {
  border-radius: 56px;
}
.r64 {
  border-radius: 64px;
}
.p20 {
  padding: 20px;
}

.g4 {
  gap: 4px;
}
.g8 {
  gap: 8px;
}
.g10 {
  gap: 10px;
}
.g12 {
  gap: 12px;
}
.g16 {
  gap: 16px;
}
.g20 {
  gap: 20px;
}

.anime2 {
  transition: all 0.2s ease-out;
}

.flex_row {
  display: flex;
  flex-direction: row;
}

.flex_col {
  display: flex;
  flex-direction: column;
}
